<script type="text/javascript">

    $('#_sidebar').perfectScrollbar();

</script>
<div class="boxes">
  <div class="order">
    <ul>
      <li>
        <h3>ORDER</h3>
        <h4>No Products</h4>

      </li>
    </ul>
  </div>
  <div class="clear"> </div>
<div id= "_sidebar" style=" height: 400px; overflow-x: hidden;">
  <% all_feedback.each do |option| %>
      <div class="feedbackFromUser">
        <p>
            <span><%= option.name %></span>
            <span style="float: right"><%= option.created_at.strftime("%m/%d/%Y")%></span>
        </p><hr>
        <p><%= option.improvement %></p>
      </div>
  <% end %>
</div>
</div>