<div class="main-body">
  <div id="slider">
    <a href="#" target="_blank">
      <%= image_tag "slider-1.jpg"%>

    </a>
    <a href="#" target="_blank">
      <%= image_tag "slider-2.jpg"%>

    </a>
    <a href="#" target="_blank">
      <%= image_tag "slider-3.jpg"%>

    </a>
  </div>
  <div class="map"><iframe width="350" height="290" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="locatin.png"></iframe><br /><small><a href="https://www.google.com/maps/place/Kampus+Korner+Restaurant/@30.0411021,-94.0727361,17z/data=!4m5!1m2!2m1!1skampuskorner!3m1!1s0x863eca79086ceeab:0x704b6f5fad49fe5c">View Larger Map</a></small></div>

  <%= render 'home/sidebar'%>
  <div class="clear"> </div>
</div>